* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-areas: "header header header" "about about about" "features features features" "whyus whyus whyus" "footer footer footer"; }

body {
  background-color: #101213;
  color: #fff; }

body * {
  font-family: "Gilroy", sans-serif; }

body *::selection {
  background-color: #0071DA;
  color: #fff; }

/* Customize scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  height: auto; }

body::-webkit-scrollbar-thumb {
  background-color: #0071DA; }

body::-webkit-scrollbar-track {
  background: #101213;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 5464px) {
  .container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 120px; } }
@media only screen and (max-width: 1600px) {
  .container {
    max-width: initial;
    margin: initial;
    max-width: auto;
    padding: 0 120px; } }
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 60px; } }
@media only screen and (max-width: 425px) {
  .container {
    padding: 0 20px; } }
/* #Button-Sizes */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: ease-in-out 0.4s; }

.btn-light {
  width: 200px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #FFFFFF; }
  .btn-light:hover {
    background-color: #fff;
    color: #000; }

.btn-primary {
  width: 220px;
  height: 60px;
  background-color: #0071DA; }
  .btn-primary:hover {
    background-color: #00529D; }

@media only screen and (max-width: 1024px) {
  .btn-light {
    width: 180px;
    height: 50px; }

  .btn-primary {
    width: 200px;
    height: 55px; } }
@media only screen and (max-width: 425px) {
  .btn-light {
    width: 200px;
    height: 60px; }

  .btn-primary {
    width: 200px;
    height: 55px; } }
section {
  padding-top: 120px; }

@media only screen and (max-width: 1024px) {
  section {
    padding-top: 80px; } }
@media only screen and (max-width: 425px) {
  section {
    padding-top: 60px; } }
section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center; }

@media only screen and (max-width: 1024px) {
  section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px; } }
@media only screen and (max-width: 425px) {
  section h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; } }
ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

header {
  grid-area: header;
  grid-template-areas: "navbar navbar navbar" "main main main"; }

nav.navbar {
  grid-area: navbar; }
  nav.navbar .container {
    height: 180px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between; }
    nav.navbar .container ul.nav-list {
      display: flex; }
      nav.navbar .container ul.nav-list li:not(:first-child) {
        margin-left: 40px; }
      nav.navbar .container ul.nav-list li a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        transition: ease-in-out 0.2s;
        padding-bottom: 7px; }
        nav.navbar .container ul.nav-list li a:hover {
          color: #0071DA;
          border-bottom: 2px solid;
          border-image-slice: 9;
          border-image: linear-gradient(270deg, rgba(0, 113, 218, 0), rgba(0, 113, 218, 0.510417)) 1; }

@media only screen and (max-width: 1170px) {
  nav.navbar .container ul.nav-list li a {
    font-size: 18px; }

  nav.navbar .container ul.nav-list li:not(:first-child) {
    margin-left: 20px; } }
@media only screen and (max-width: 1024px) {
  nav.navbar .container {
    height: 120px; }
    nav.navbar .container ul.nav-list li a {
      font-size: 16px;
      line-height: 19px; } }
@media only screen and (max-width: 950px) {
  nav.navbar .container ul.nav-list li:not(:first-child) {
    margin-left: 20px; } }
@media only screen and (max-width: 850px) {
  nav.navbar .container .btn-light {
    width: 160px;
    height: 50px;
    font-size: 14px; }

  nav.navbar .container ul.nav-list li:not(:first-child) {
    margin-left: 10px; } }
@media only screen and (max-width: 750px) {
  nav.navbar .container ul.nav-list {
    display: none; }
  nav.navbar .container button.btn-light {
    display: none; } }
@media only screen and (max-width: 425px) {
  nav.navbar .container ul.nav-list {
    display: none; }
  nav.navbar .container .nav-logo img {
    width: 86px;
    height: 34px; }
  nav.navbar .container button.btn-light {
    display: none; } }
main {
  grid-area: main;
  background-image: url("../images/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 99px;
    margin-bottom: 30px; }
  main p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    max-width: 858px;
    text-align: center; }

@media only screen and (max-width: 1024px) {
  main {
    min-height: 448px; }
    main h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 99px;
      margin-bottom: 20px; }
    main p {
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      max-width: 80%; } }
@media only screen and (max-width: 425px) {
  main {
    min-height: 647px; }
    main h1 {
      font-size: 48px;
      line-height: 59px; }
    main p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 60px; } }
section#about {
  grid-area: about; }
  section#about .container {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    section#about .container .section-text p {
      max-width: 667px;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px; }
      section#about .container .section-text p:last-child {
        margin-top: 88px; }

@media only screen and (max-width: 1024px) {
  section#about .container {
    padding-top: 50px; }
    section#about .container .section-image img {
      max-width: 430px;
      min-height: 413.46px; }
    section#about .container .section-text p {
      max-width: 405px;
      font-size: 16px;
      line-height: 30px;
      width: 80%;
      margin: 0 auto; }
      section#about .container .section-text p:last-child {
        margin-top: 50px; } }
@media only screen and (max-width: 425px) {
  section#about .container {
    flex-direction: column; }
    section#about .container .section-image img {
      max-width: 300px;
      min-height: 300px; }
    section#about .container .section-text p {
      font-size: 12px;
      line-height: 25px;
      text-align: center; }
      section#about .container .section-text p:last-child {
        margin-top: 40px; } }
section#features {
  grid-area: features; }
  section#features .wrapper {
    padding-top: 60px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-row-gap: 92px;
    justify-content: space-between; }
    section#features .wrapper .row {
      display: flex; }
      section#features .wrapper .row .col:nth-child(even) {
        margin-left: 30px; }
      section#features .wrapper .row .col img {
        max-width: 60px;
        min-height: 60px; }
      section#features .wrapper .row .col h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px; }
      section#features .wrapper .row .col p {
        max-width: 372px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #BCBCBC;
        margin-top: 24px; }

@media only screen and (max-width: 1024px) {
  section#features .wrapper .row .col img {
    width: 50px;
    height: 50px; }
  section#features .wrapper .row .col h4 {
    font-size: 24px;
    line-height: 30px; }
  section#features .wrapper .row .col p {
    font-size: 16px;
    line-height: 160%;
    max-width: 313px; } }
@media only screen and (max-width: 425px) {
  section#features .wrapper {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 40px; }
    section#features .wrapper .row .col img {
      max-width: 35px;
      min-height: 35px; }
    section#features .wrapper .row .col h4 {
      font-size: 18px;
      line-height: 22px; }
    section#features .wrapper .row .col p {
      font-size: 12px;
      line-height: 160%;
      margin-top: 10px;
      max-width: 70%; }
    section#features .wrapper .row .col:nth-child(even) {
      margin-left: 20px; } }
section#whyus {
  grid-area: whyus; }
  section#whyus .wrapper {
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between; }
    section#whyus .wrapper .col h4 {
      font-weight: 700;
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 60px; }
    section#whyus .wrapper .col p {
      max-width: 667px;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px; }
  section#whyus .counting {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto; }
    section#whyus .counting .col h4 {
      font-weight: 700;
      font-size: 64px;
      line-height: 79px;
      color: #0071DA;
      margin-bottom: 20px; }
    section#whyus .counting .col span.title {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    section#whyus .counting .col p {
      max-width: 468px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #BCBCBC; }
  section#whyus .brands {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between; }
    section#whyus .brands .box {
      background: #00386D;
      border-radius: 10px;
      width: 80%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center; }
      section#whyus .brands .box img {
        width: 90%;
        height: 90%; }

@media only screen and (max-width: 1024px) {
  section#whyus .wrapper .col img {
    width: 430px;
    height: 423.31px; }
  section#whyus .wrapper .col h4 {
    font-size: 24px;
    line-height: 34px; }
  section#whyus .wrapper .col p {
    font-size: 16px;
    line-height: 30px; }
  section#whyus .counting .col h4 {
    font-size: 40px;
    line-height: 50px; }
  section#whyus .counting .col span.title {
    font-size: 20px;
    line-height: 38px; }
  section#whyus .counting .col p {
    max-width: 395px;
    font-size: 16px;
    line-height: 30px; } }
@media only screen and (max-width: 425px) {
  section#whyus .wrapper {
    padding-top: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "image image image" "text text text"; }
    section#whyus .wrapper .col h4 {
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 12px; }
    section#whyus .wrapper .col p {
      font-size: 12px;
      line-height: 25px;
      max-width: 90%; }
    section#whyus .wrapper .col img {
      max-width: 300px;
      max-height: 300px; }
    section#whyus .wrapper div.text-section {
      grid-area: text; }
    section#whyus .wrapper div.image-section {
      margin: 0 auto;
      grid-area: image; }
  section#whyus .counting {
    margin-top: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 40px; }
    section#whyus .counting .col h4 {
      font-size: 24px;
      line-height: 30px; }
    section#whyus .counting .col span.title {
      font-size: 18px;
      line-height: 38px; }
    section#whyus .counting .col p {
      font-size: 12px;
      line-height: 20px; }
  section#whyus .brands {
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    grid-template-columns: auto;
    justify-content: space-between; }
    section#whyus .brands .box {
      background: #00386D;
      border-radius: 10px;
      width: 100%;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center; }
      section#whyus .brands .box img {
        width: 90%;
        height: 90%; } }
section#footer {
  grid-area: footer; }
  section#footer footer {
    border-top: 2px solid #FFFFFF;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#footer footer ul {
      display: grid; }
    section#footer footer ul.footer-links {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      grid-column-gap: 30px;
      margin-bottom: 60px; }
      section#footer footer ul.footer-links li a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF; }
    section#footer footer ul.footer-socials {
      margin-bottom: 80px;
      display: flex; }
      section#footer footer ul.footer-socials li:not(:first-child) {
        margin-left: 24px; }
    section#footer footer p {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #757575; }

@media only screen and (max-width: 425px) {
  section#footer footer {
    padding: 60px 50px; }
    section#footer footer ul.footer-links {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-column-gap: 30px;
      margin-bottom: 60px;
      row-gap: 60px;
      column-gap: 60px; }
      section#footer footer ul.footer-links li a {
        font-size: 24px;
        line-height: 29px; }
    section#footer footer ul.footer-socials {
      margin-bottom: 40px;
      display: flex; }
      section#footer footer ul.footer-socials li:not(:first-child) {
        margin-left: 50px; }
      section#footer footer ul.footer-socials li a img {
        max-width: 50px;
        min-height: 50px; }
    section#footer footer p {
      font-size: 16px;
      line-height: 19px; } }

/*# sourceMappingURL=style.css.map */
