section#about {    
    .container {
        padding-top: 80px;
        display: grid;
        grid-template-areas: "image text";
        align-items: center;
        justify-content: center;
        
        .section-image {
            grid-area: image;

            img {
                display: block;
                margin: 0 auto;
            }
        }
        
        .section-text {
            grid-area: text;

            p {
                max-width: 667px;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;

                &:last-child {
                    margin-top: 88px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    section#about {
        .container {
            padding-top: 50px;

            .section-image {

                img {
                    max-width: 430px;
                    min-height: 413.46px;
                }
            }
            .section-text {
                p {
                    font-size: 16px;
                    line-height: 30px;
                    max-width: 80%;
                    margin: 0 auto;

                    &:last-child {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    section#about {
        .container {
            
            .section-image img {
                max-width: 300px;
                min-height: 300px;
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    section#about {
        .container {
            grid-template-areas: "image"
                                 "text";
                                 
            
            .section-image img {
                max-width: 300px;
                min-height: 300px;
            }
            .section-text {
                p {
                    font-size: 12px;
                    line-height: 25px;
                    text-align: center;

                    &:last-child {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}