section#faq {
    .faq-group {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .question {
            padding: 80px;
            border: 2px solid #FFFFFF;
            border-radius: 5px;
            position: relative;


            h4 {
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
            }

            p {
                margin-top: 50px;
                font-size: 20px;
                line-height: 34px;
                color: $text-gray-darker;
            }

            .faq-toggle {
                img {
                    transform: rotate(180deg);
                    transition: all 0.2s ease-in-out;
                }
            }

            &.closed {
                height: 160px;
                display: flex;
                align-items: center;
                
                p {
                    display: none;
                }

                .faq-toggle {
                    img {
                        transform: rotate(0deg);
                    }
                }
            }

            .faq-toggle {
                position: absolute;
                top: 65px;
                right: 60px;
            }

            

        }
    }
}


@media only screen and (max-width: 1100px) {
    section#faq {
        .faq-group {
    
            .question {
                padding: 50px;
    
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 34px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 400px) {
    section#faq {
        row-gap: 20px;

        .faq-group {
    
            .question {
                padding: 35px 20px 30px 20px;

                h4 {
                    font-size: 12px;
                    line-height: 15px;
                }
    
                p {
                    margin-top: 15px;
                    font-size: 12px;
                    line-height: 20px;
                }

                .faq-toggle {
                    position: absolute;
                    top: 30px;
                    right: 20px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    
}

