footer {
        grid-area: footer;

        border-top: 2px solid #FFFFFF;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: grid;
        }
        ul.footer-links {
            grid-template-columns: auto auto auto auto ;
            grid-template-rows: auto;
            grid-column-gap: 30px;
            margin-bottom: 60px;
            
            li {
                a {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }

        ul.footer-socials {
            margin-bottom: 80px;
            display: flex;
            li {
                &:not(:first-child) {
                    margin-left: 24px;
                }

                
            }
        }

        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #757575;
        }
      

}

@media only screen and (max-width: 425px) {
     footer {
        padding: 60px 50px;

        ul.footer-links {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-column-gap: 30px;
            margin-bottom: 60px;
            row-gap: 60px;
            column-gap: 60px;
            
            li {
                a {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }

        ul.footer-socials {
            margin-bottom: 40px;
            display: flex;
            li {
                &:not(:first-child) {
                    margin-left: 50px;
                }
    
                a {
                    img {
                        max-width: 50px;
                        min-height: 50px;
                    }
                }
            }
        }
        p {
            font-size: 16px;
            line-height: 19px;   
        }
    }
}


@media only screen and (max-width: 600px){
    footer {
        padding: 60px 20px;
    }

    footer ul.footer-links li a {
        font-size: 18px;
        line-height: 29px;
    }
}