nav.navbar {
    grid-area: navbar;
    
    .container {
        height: 180px;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-between;

        ul.nav-list {
            display: flex;

            li {
            
                &:not(:first-child) {
                    margin-left: 40px;
                }
            
                a {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    transition: ease-in-out 0.2s;
                    padding-bottom: 7px;


                    &:hover {
                        color: $primary-color;
                        border-bottom: 2px solid;
                        border-image-slice: 9;   
                        border-image: linear-gradient(270deg,rgba(0, 113, 218, 0), rgba(0, 113, 218, 0.510417)) 1;
                        // border-image: linear-gradient(rgba(0, 113, 218, 0), rgba(0, 113, 218, 0.510417), #0071DA);
                    }
                }
            }
        }
    }
}

// costumize responsibility
@media only screen and (max-width: 1170px) {
    nav.navbar .container ul.nav-list li a {
        font-size: 18px;
    }
    nav.navbar .container ul.nav-list li:not(:first-child) {
        margin-left: 20px;
    }
}

// default responsibility
@media only screen and (max-width: 1024px) {
    nav.navbar {
        .container {
            height: 120px;

            ul.nav-list {
        
                li {
                    
                    a {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

// costumize responsibility
@media only screen and (max-width: 950px) {
    nav.navbar .container ul.nav-list li:not(:first-child) {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 850px) {
    nav.navbar {
        .container {
            .btn-light { // btn in navbar
                width: 160px;
                height: 50px;
                font-size: 14px;
            }
        }
    }

    nav.navbar .container ul.nav-list li:not(:first-child) { // each li margins
        margin-left: 10px;
    }
}

@media only screen and (max-width: 750px) {
    nav.navbar {
        .container {
            ul.nav-list {
                display: none;
            }
            button.btn-light {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 425px) {

    nav.navbar {
        .container {
            ul.nav-list {
                display: none;
            }
            
            .nav-logo {
                img {
                    width: 86px;
                    height: 34px;
                }
            }

            button.btn-light {
                display: none;
            }
        }
    }    
}